<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-It</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body onload="title()">
    <div class="wrapper">
        <header class="hero">
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/dashboard">DASHBOARD</a></li>
                    {{#if loggedIn}}
                    <li><a href="/" id="logout">LOGOUT</a></li>
                    {{else}}
                    <li><a href="/login">LOGIN</a></li>
                    {{/if}}
                </ul>
            </nav>
            <h1 class="app-title" id="app-title"><i class="far fa-comment-alt"></i> Blog-It</h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script>
        function title() {
            var location = window.location.href;
            if (location.includes("dashboard")) {
                document.getElementById("app-title").innerHTML = '<i class="far fa-comment-alt"></i> Your Dashboard';
            }
        }
    </script>




</body>

</html>