<div class="login-wrapper">
    <div id="login" class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form class="login-form">
                <div>
                    <input type="text" id="email-login" />
                    <label for="email-login">E-mail:</label>
                </div>
                <div>
                    <input type="password" id="password-login" />
                    <label for="password-login">Password:</label>
                </div>
                <div class="login-buttons">
                    <button type="submit">Login</button>
                    <button id="signup-link">Sign Up Instead</button>
                </div>
            </form>
        </div>
    </div>
    <div id="signup" class="card">
        <div class="card-header">Signup</div>
        <div class="card-body">
            <form class="signup-form">
                <div>
                    <input type="text" id="username-signup" />
                    <label for="username-signup">Username:</label>
                </div>
                <div>
                    <input type="text" id="email-signup" />
                    <label for="email-signup">E-mail:</label>
                </div>
                <div>
                    <input type="password" id="password-signup" />
                    <label for="password-signup">Password:</label>
                </div>
                <div class="login-buttons">
                    <button type="submit">Signup</button>
                    <button id="login-link">Login Instead</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>